<launch>
    <include file="$(find teleop_twist_joy)/launch/teleop.launch" />

    <node name="custom_rqt_perspective" pkg="rqt_gui" type="rqt_gui"
          args="--perspective-file  $(find suricate_robot)/simulation/robot_micro.perspective" required="false" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find suricate_robot)/simulation/rviz_robot_test.rviz"
          required="false" />
</launch>