<launch>

    <node pkg="suricate_robot" type="robot_controller_LQR_V1.py" name="robot_controller" required="true" >
        <param name="scaling_joy" type="double" value="2.1" />
        <param name="rate" type="double" value="150" />
        <param name="gain_LQR" type="double" value="0.0019" />
        <param name="environment" type="string" value="robot" />

    </node>

</launch>

